<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    </head>
    <body>
        <div id="root" class="section">
            <div class="container">
                <post v-for="post in postsArray" :title="post.title" :body="post.body"></post>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            Vue.component('post', {
                props: ['title', 'body'],
                template: `
                <article class="message is-primary">
                    <div class="message-header">
                        <p>{{ title }}</p>
                    </div>
                    <div class="message-body">
                        {{ body }}
                    </div>
                    <comments></comments>
                </article>
                `
            });

            Vue.component('comments', {
                template: `
                <div>
                    <article class="message is-dark" v-for="comment in commentsArray">
                        <div class="message-body">
                            <strong>{{ comment.name }}</strong> <br>
                            {{ comment.body }}
                        </div>
                    </article>  
                </div>
                
                `,
                data(){
                    return {
                        commentsArray: [
                            {name: 'persona 1', body: 'body comentario uno'},
                            {name: 'persona 2', body: 'body comentario dos'},
                            {name: 'persona 3', body: 'body comentario tres'}
                        ]
                    }
                }
            });

            new Vue({
                el: '#root',

                data: {
                    postsArray: [
                        {title: 'title 1', body: 'body post uno lalalalalal lalalalala'},
                        {title: 'title 2', body: 'body post dos lalalalalal lalalalala'},
                        {title: 'title 3', body: 'body post tres lalalalalal lalalalala'}
                    ]
                }
            });
        </script>
    </body>
</html>